.container {
  margin-top: 30px;
}
.player{
  padding: 14px;
  font-size: 30px;
  color: white;
  background-color: #eea605;
}
.score{
  margin: 20px 0px;
  font-size: 20px;

}
.counter{
  margin-top: 20%;
}
.display-inline {
  display: inline-block;
  width: 50%;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.center-items {
  margin-top: 30px;
  text-align: center;
}

.center-items .items{
  padding: 30px;
  background-color: black;
  width: 20px;
  height: 20px;
  border: solid 1px white;
  color: white;
  font-size: 40px;
} 

.center-items   .click-item{
  padding: 30px;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 40px;
  position:cursor;
  background-color:#eea605;
  border: solid 1.5px #785719;
  
}