<!--The content below is only a placeholder and can be replaced.-->
<div style=" padding: 15px;">
  <h1 style="text-align: center;">
    Welcome to {{ title }}!
  </h1>


  <div class="right">
    <img src="../assets/images/add.png" (click)="add()">
  </div>

  <br>
  <br><br>
  <div class="jss14">
    <div style="overflow-y: auto;">

      <table border=1 frame=void rules=rows>
        <thead>
          <tr>
            <th>
              Position
            </th>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Email
            </th>
            <th>
              Action
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let data of dataSource;let i =index">
            <td>
              {{i+1}}
            </td>
            <td>
              {{data.name}}
            </td>
            <td>
              {{data.phone}}
            </td>
            <td>
              {{data.email}}
            </td>
            <td style="width: 96px; padding: 0px 5px; box-sizing: border-box;">
              <div style="display: flex;">
                <mat-icon (click)="editRow(i)">visibility</mat-icon>
                <mat-icon (click)="deleteRow(i)">highlight_off</mat-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>